.common-editable-table {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 16px);
  float: left;
  border-radius: '4px';
  background: #f0f3f8;
}
.common-editable-table .ant-spin-nested-loading {
  height: 100%;
}
.common-editable-table .ant-spin-nested-loading .ant-spin-container {
  height: 100%;
}
.common-editable-table .ant-spin-nested-loading .ant-spin-container .ant-table {
  height: 100%;
}
.common-editable-table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content {
  height: 100%;
}
.common-editable-table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-scroll {
  height: 100%;
  overflow: hidden;
}
.common-editable-table .ant-table-fixed {
  table-layout: fixed;
}
.common-editable-table .ant-table-header {
  overflow: hidden !important;
  margin-right: 17px;
  background-color: #f0f3f8 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.common-editable-table .ant-table-thead {
  border-bottom: 1px solid #fff;
}
.common-editable-table .ant-table-thead tr th,
.common-editable-table .ant-table-thead tr td,
.common-editable-table .ant-table-thead tr span,
.common-editable-table .ant-table-thead tr div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-editable-table .ant-table-thead tr th {
  padding: 0 !important;
}
.common-editable-table .ant-table-thead tr th .table-thead-title {
  line-height: 40px;
  padding: 0 8px;
}
.common-editable-table .ant-table-thead tr th .table-thead-title input {
  height: 24px;
}
.common-editable-table .ant-table-thead tr span {
  display: block;
}
.common-editable-table .ant-table-thead .editable-cell {
  position: relative;
}
.common-editable-table .ant-table-thead .editable-cell-value-wrap {
  cursor: pointer;
}
.common-editable-table .ant-table-thead .editable-cell-value-wrap .ant-table-header-column {
  width: 100%;
}
.common-editable-table .ant-table-thead .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
.common-editable-table .ant-table-tbody tr td,
.common-editable-table .ant-table-tbody tr div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-editable-table .ant-table-tbody tr td {
  padding: 0 !important;
}
.common-editable-table .ant-table-tbody tr td div.tabel-cell-content {
  padding: 8px;
  height: 38px;
}
.common-editable-table .ant-table-tbody tr:last-child {
  border-bottom: 1px solid #e8e8e8;
}
.common-editable-table .table-highlight {
  background-color: #a3cef0 !important;
}
.common-editable-table .anticon {
  margin: 0 5px;
  cursor: pointer;
}
.common-editable-table .table-header-icon {
  width: 45px;
  vertical-align: middle;
  display: inline-block;
}
.common-editable-table.editing .ant-table-body {
  max-height: calc(100% - 41px) !important;
  height: calc(100% - 41px);
}
